@CHARSET "UTF-8";

label {
	width: 15em;
	text-align: right;
	float: left;
	margin-right: 5px;
	padding-top: 8px;
}

form {
	margin-bottom: 100px;
} 

form input[type='submit'] {
	float: right;
}

.inputError {
	margin-left: 15.5em;
	margin-top: -15px;
	color: red;
	font-weight: bold;
}

body {
	background: url(../images/html_background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.main {	
	background-color: white;
	margin-top: 64px;
	border: solid black 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 12px #555;	
}

div.info {
	margin-bottom: 32px;
	margin-top: 32px;
}

h1 {
	padding-left:15px;
	padding-top: 15px;
}

input[type="text"],
textarea,
select {
    width:400px;
    padding: 0;
    border: 1px solid #ccc;
}

.itemsTable {
	margin-top: 10px;
	margin-bottom: 50px;
}	


.itemsTable table {
	border-collapse:collapse;
	-moz-box-shadow: 1px 1px 6px #555;
}

.itemsTable table tbody tr {
	border-color: #eeeeee;
	border-style: solid;
	border-width: 1px;	
}

.itemsTable table thead th.idColumn {
	width: 5em;
}

.itemsTable table thead th.nameColumn {
}

.inputerror {
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	margin-left: 15.5em;
	margin-bottom: 5px;
	padding-left: 24px;
	
}




